
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/css/ManagerStyle/ManagerShopsCss/mangerShops.css" rel="stylesheet" />
    <link href="~/Content/css/allPages/dialogForms.css" rel="stylesheet" />
    <title>ManagerShops</title>
</head>
<body>

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a class="button28" href="#tab1" role="tab" data-toggle="tab">Информация</a></li>
        <li role="presentation"><a onclick="insertInfoCategory()" class="button28" href="#tab2" role="tab" data-toggle="tab">Создать магазин</a></li>
        <li role="presentation"><a onclick="insertMyShops()" class="button28" href="#tab3" role="tab" data-toggle="tab">Все магазины</a></li>
        <li role="presentation"><a class="button28" href="#tab4" role="tab" data-toggle="tab">Поиск по магазинам</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab1">
           Здесь вы сможете:
                Создать магазин<br>
                Удалить магазин<br>
                Изменить информацыю магазина<br>
                Поиск магазина по разным параметрам<br>
                Посмотреть все магазины <br>
                При создание магазина важно желательно всю информацию 
        </div>
        <div role="tabpanel" class="tab-pane" id="tab2">
            <div class="blockCreateShop">
                <div class="createForm">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 well blockCreate">
                                <h3 class="text-center">Создать магазин</h3>
                              
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <input id="nameShop" type="text" class="form-control" placeholder="Введите название магазина" />
                                        </div>
                                    </div>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <select class="selectStyleCategory" id="categoryForManager" >
                                            <option value="0">Пожалуйста, выберите категорию:</option>
                                        </select>
                                    </div>
                                </div>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <input id="passShop" type="password" class="form-control" value="samplepass" />
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <input id="confPassShop" type="password" class="form-control" value="samplepass" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="country" class="cols-sm-2 control-label">Фото вашего магазина</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                            <input type="file" class="uploadImage form-control" value="выбрать фотографию" />
                                            <input type="button" class="form-control " value="Загрузить" onclick="UploadImage(3)" />
                                        </div>
                                    </div>
                                    <div class="text-center col-xs-12">
                                        <a  class="btn btn-default" onclick="addNewShop()">Создать</a>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div role="tabpanel" class="tab-pane blockAllShops" id="tab3">
            <div class="clsAllMyShops">
                <ul class="list-group" id="MyShops">
                   
                </ul>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="tab4">
            4 таб
        </div>


        <div role="tabpanel" class="tab-pane" id="tab5">
            <div class="container">
                <div class="card card-container">
                    <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
                   <a onclick="UpdatePhotoMyShop()"><img id="profileShop-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" /></a>
                    <p id="profile-name" class="profile-name-card"></p>
                    <form class="form-signin">
                        <span id="reauth-email" class="reauth-email"></span>
                        <input type="text" id="inputnameShop" class="form-control" />
                        <input type="password" id="inputpassword" class="form-control" />
                        <div class="form-control">
                              <select class="selectStyleCategory" id="categoryInfoForShop"></select>
                        </div>
                        
                               @*<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                        <div id="remember" class="checkbox">
                            <label>
                                <input type="checkbox" value="remember-me"> Remember me
                            </label>
                        </div>*@<button onclick="SaveInfoMyUpdateShop(this)" class="btn btn-lg btn-primary btn-block btn-signin" type="button">Сохранить</button>
                    </form><!-- /form -->
                    @*<a href="#" class="forgot-password">
                        Forgot the password?
                    </a>*@
                </div><!-- /card-container -->
            </div><!-- /container -->


            <input id="inputPhotoUpdateForFile" type="file" class="hiddenUpdatePhotoMySgop" multiple />
        </div>
     </div>

        @*<div>
            <div class="topPanelManagerShops">
                <div class="underPanelStyle">
                    <h1 style="text-align:center;">Manager Shops</h1>
                    <a href="#" class="button28">Создать магазин</a>
                    <a href="#" class="button28">Все магазины</a>
                    <a href="#" class="button28">Поиск магазина</a>
                </div>
            </div>
        </div>*@
</body>
</html>

<script>
    document.querySelector('#inputPhotoUpdateForFile').onchange = function (e) {
        updatePhotoInServer(3);
    }
    </script>
