
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/css/ManagerStyle/ManagerShopsCss/mangerShops.css" rel="stylesheet" />
    <title>ManagerShops</title>
</head>
<body>

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a class="button28" href="#tab1" role="tab" data-toggle="tab">Информация</a></li>
        <li role="presentation"><a class="button28" href="#tab2" role="tab" data-toggle="tab">Создать магазин</a></li>
        <li role="presentation"><a class="button28" href="#tab3" role="tab" data-toggle="tab">Все магазины</a></li>
        <li role="presentation"><a class="button28" href="#tab4" role="tab" data-toggle="tab">Поиск по магазинам</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tab1">
           Здесь вы сможете:
                Создать магазин<br>
                Удалить магазин<br>
                Изменить информацыю магазина<br>
                Поиск магазина по разным параметрам<br>
                Посмотреть все магазины <br>
                При создание магазина важно желательно всю информацию 
        </div>
        <div role="tabpanel" class="tab-pane" id="tab2">
            <div class="blockCreateShop">
                <div class="createForm">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 well blockCreate">
                                <h3 class="text-center">Создать магазин</h3>
                              
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <input id="nameShop" type="text" class="form-control" placeholder="Введите название магазина" />
                                        </div>
                                    </div>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <select class="turnintodropdown_demo2">
                                            <option>Пожалуйста, выберите категорию:</option>
                                            <option>Австралия</option>
                                            <option>Бельгия</option>
                                            <option>Болгария</option>
                                            <option>Хорватия</option>
                                            <option>Кипр</option>
                                            <option>Чехия</option>
                                            <option>Дания</option>
                                            <option>Эстония</option>
                                            <option>Финляндия</option>
                                            <option>Франция</option>
                                            <option>Германия</option>
                                            <option>Греция</option>
                                            <option>Венгрия</option>
                                            <option>Ирландия</option>
                                            <option>Италия</option>
                                            <option>Латвия</option>
                                            <option>Литва</option>
                                            <option>Люксембург</option>
                                            <option>Мальта</option>
                                            <option>Нидерланды</option>
                                            <option>Польша</option>
                                            <option>Португалия</option>
                                            <option>Румыния</option>
                                            <option>Словакия</option>
                                            <option>Словения</option>
                                            <option>Испания</option>
                                            <option>Швеция</option>
                                            <option>Великобритания</option>
                                        </select>
                                    </div>
                                </div>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <input id="passShop" type="password" class="form-control" value="samplepass" />
                                        </div>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <input id="confPassShop" type="password" class="form-control" value="samplepass" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="country" class="cols-sm-2 control-label">Фото вашего магазина</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                            <input type="file" class="uploadImage form-control" value="выбрать фотографию" />
                                            <input type="button" class="form-control " value="Загрузить" onclick="UploadImage(3)" />
                                        </div>
                                    </div>
                                    <div class="text-center col-xs-12">
                                        <input type="button" class="btn btn-default" value="Submit" />
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div role="tabpanel" class="tab-pane" id="tab3">
            Занятие ардритов с планеты Энтеропия.
        </div>
        <div role="tabpanel" class="tab-pane" id="tab4">
            4 таб
        </div>
     </div>

        @*<div>
            <div class="topPanelManagerShops">
                <div class="underPanelStyle">
                    <h1 style="text-align:center;">Manager Shops</h1>
                    <a href="#" class="button28">Создать магазин</a>
                    <a href="#" class="button28">Все магазины</a>
                    <a href="#" class="button28">Поиск магазина</a>
                </div>
            </div>
        </div>*@
</body>
</html>
