@{
    string photoProfile = ViewBag.PhotoProfile;
    string userName = ViewBag.userName;
    string userSurname = ViewBag.userSurname;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SellBuy</title>
    <script src="~/Content/js/jquery/jquery.js"></script>
    <script src="~/Content/js/allSite/commonJs.js"></script>
    <link href="~/Content/css/allPages/layoutPage.css" rel="stylesheet" />
    <link href="~/Content/css/allPages/demo.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <script src="~/Content/js/bootsrap/bootstrap.min.js"></script>
    <script src="~/Content/js/allSite/popup.js"></script>
    <link href="~/Content/css/allPages/loader.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="http://www.bartonwheelers.co.uk/wp-content/uploads/2015/05/buy-and-sell.png" />
</head>
<body>
    <div class="loadingBlock">
        <div class="loader"></div>
    </div>
    <nav class="navNavigationStyle navbar navbar-default  navbar-fixed" role="navigation">
        <div class="container-fluid">
            <a class="cssLayoutLocation navbar-brand" href="Home">Главная</a>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav">
                    <li><a class="cssLayoutLocation" href="#">О сайте</a></li>
                    <li class="styleAll"><a href="#"></a></li>
                    <li class="dropdown">
                        <a href="#" class="cssLayoutLocation dropdown-toggle" data-toggle="dropdown">Поиск<b class="caret"></b></a>
                        <ul class="cssDropDownMenuLayout dropdown-menu">
                            <li class="styleAll"><a class="cssLayoutLocation" href="#">Категории по продуктам </a></li">
                            <li class="divider"></li>

                            <li><a class="cssLayoutLocation" href="#">Категории по магазинам</a></li">
                            <li class="divider"></li>

                        </ul>
                    </li>
                    @if (Request.Cookies["AuthenticationSellBuy"] != null)
                    {
                        <li class="dropdown">
                            <a href="#" class="cssLayoutLocation dropdown-toggle" data-toggle="dropdown">Мои магазины<b class="caret"></b></a>
                            <ul class="cssDropDownMenuLayout dropdown-menu">
                                <li class=" styleAll"><a class="cssLayoutLocation" href="#">Список магазинов</a>
                                <li class="divider"></li>

                                <li><a class="cssLayoutLocation" href="#">Создать магазин</a></li">
                                <li class="divider"></li>
                                <li><a class="cssLayoutLocation" href="#">Поиск магазина</a></li">
                            </ul>
                        </li>
                    }

                </ul>

                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <input type="button" class="btn btn-default" value="Поиск">
                </form>

                <ul class="nav navbar-nav">
                    <li><img class="logoCss" src="~/Content/images/logoImages/logoSite.png" /></li>
                </ul>

                @if (Request.Cookies["AuthenticationSellBuy"] != null)
                {

                    <ul class="nav navbar-nav navbar-right">
                        <!-- <li class="styleAll"><a href="#">Link</a></li class="styleAll">
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                            <li class="styleAll"><a href="#">Action</a></li class="styleAll">
                            <li class="styleAll"><a href="#">Another action</a></li class="styleAll">
                            <li class="styleAll"><a href="#">Something else here</a></li class="styleAll">
                            <li class="divider"></li class="styleAll">
                            <li class="styleAll"><a href="#">Separated link</a></li class="styleAll">
                          </ul>
                        </li class="styleAll"> -->

                        <li class="dropdown">
                            <a href="#" class="cssLayoutLocation dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <strong class="nameBlockInfoUser"></strong>
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="navbar-login">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <p class="text-center">
                                                    <span class=" userPhoto glyphicon  icon-size"></span>
                                                </p>
                                            </div>
                                            <div class="col-lg-8">
                                                <p class="text-left"><strong class="SurnameLastNameInfo"></strong></p>
                                                <p class="emailProfileInfo text-left small">correoElectronico@email.com</p>
                                                <p class="text-left">
                                                    <a href="UserProfile" class="btn btn-primary btn-block btn-sm">Изменить</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <span onclick="SinIn_SIgnOut_RegisterUser_click(3)" class="btn btn-danger btn-block">Выход</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @*<li class="signInBtn congMagUs"><a href="/Manager" target="_blank" class="cssLayoutLocation" onclick="">Менеджер</a></li>*@
                        <li><a href="#myModal" onclick="ClickManagerLink()" class="cssLayoutLocation" data-toggle="modal">Менеджер</a></li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right signInOutStyle">
                        <li class="signInBtn"><strong class="cssLayoutLocation" onclick="SinIn_SIgnOut_RegisterUser_click(1)">Войти</strong></li>
                        <li class="signInBtn"><strong class="cssLayoutLocation" onclick="SinIn_SIgnOut_RegisterUser_click(2)">Регистрация</strong></li>
                    </ul>
                }
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>



    <div style="z-index:9999;" class="back-dialog" id="dialog">
        <div class="dialog-content">
            <div class="dialog-title">
                <span>Информация</span>
                <a class='close-dialog' href='javascript: closedialog()'></a>
            </div>
            <span class="textInfoDialogForm"></span>
        </div>
    </div>


   
    <!-- HTML-код модального окна -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Заголовок модального окна -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Для входа в Manager введите свой пароль</h4>
                </div>
                <!-- Основное содержимое модального окна -->
                <div class="modal-body">
                    Password
                    <input type="password" class="form-control" id="passModalManager">
                </div>
                <!-- Футер модального окна -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button onclick="ChecUserkPassword()" type="button" class="btn btn-primary">Подтвердить</button>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
