body {
}
.form-signin {
   <!--  max-width: 280px; -->
    padding: 15px;
    /*margin:100px;*/
    margin-top:160px;
   <!--  margin-left:200px; -->
  }

.input-group-addon
{
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
    color: rgb(255, 255, 255);
}
.input-group-addon:first-child{
	background-color: rgb(50, 118, 177);
}
.form-control:focus
{
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
    color: rgb(255, 255, 255);
}
.form-signup input[type="text"],.form-signup input[type="password"] { border: 1px solid rgb(50, 118, 177); }
.fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  background-size: cover;
    background-position: 50% 50%;
    background-image: url('../../../Content/images/fontAuthentication/fonBody.jpg');
    background-repeat:repeat; 
	   <!--  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a82f7), to(#2F2727));
  //  background: -webkit-radial-gradient(circle, #1a82f7, #2F2727);
  //  background: -moz-radial-gradient(circle, #1a82f7, #2F2727);
  //  background: -ms-radial-gradient(circle, #1a82f7, #2F2727); -->
  }