body {
}

.btnSignInManager {
    float: right;
    position: absolute;
    right: 10px;
    top: 3px;
}

.selectStyleCategory {
    color: #777;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    background: #fff url(../../../../Content/images/selectImage/select-arrow-open.png) 98% center no-repeat;
    display: block;
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


/*All Shop style*/
.clsAllMyShops {
    padding: 30px;
}

.logoMyShop {
    width: 70px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid;
}

.badgeImage {
    float: left;
}

.badgeNameShop {
    text-align: center;
    width: 50%;
    height: 40px;
    float: left;
    display: table;
    text-align: center;
}
.positionLogoMyShop{
  display: table-cell;
  vertical-align: middle;

  font-family: Garamond, serif;
line-height: 1em;
color: aliceblue;
font-weight:bold;
font-size: 37px;
text-shadow:0px 0px 0 rgb(231,231,231),1px 0px 0 rgb(216,216,216),2px 0px 0 rgb(202,202,202),3px 0px 0 rgb(187,187,187),4px 0px 0 rgb(173,173,173),5px 0px 0 rgb(158,158,158), 6px 0px 0 rgb(144,144,144),7px 0px 6px rgba(0,0,0,0.6),7px 0px 1px rgba(0,0,0,0.5),0px 0px 6px rgba(0,0,0,.2)
}
.styleBlockShop{
    background:lightgray;
    margin:3px;
}
.styleBlockShop:hover{
    background:currentColor;
}
a.button7 {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: rgb(64,199,129);
  box-shadow: 0 -3px rgb(53,167,110) inset;
  transition: 0.2s;
  float:right;
  margin:5px;
} 
a.button7:hover { background: rgb(53, 167, 110); }
a.button7:active {
  background: rgb(33,147,90);
  box-shadow: 0 3px rgb(33,147,90) inset;
}

.blockAllShops{
    width:60%;
    margin:auto;
}

#inputPhotoUpdateForFile{
    display:none;
}
.profile-img-card:hover{
    /*border: solid 3px rgb(104, 145, 162);*/
    background:rgb(104, 145, 162);
    padding: 3px;
    cursor:pointer;
}

.blockSearshShop{
    width: 100%;
    margin-top: 30px;
}

.selInfoShpSearshM{
    width:30%;
    float:left;
}
/*End style all shops*/
